<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <title>环境配置</title> -->
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link rel="stylesheet" href=<%= htmlWebpackPlugin.options.css %>>
  <link type="incon" href="./favicon.ico">
  </link>
</head>

<body>
  <h1>测试更新</h1>
  <div class="bar">123456</div>
  <div class="foo">123456</div>
  <div class="doo"></div>
  <img id="img">
  <img id="img1">
  <p></p>
</body>

</html>